.root {
    -fx-background-color: #ececec; /* first-color */
}

.tripsButton {
    -fx-background-color: #85e2ec;
    -fx-background-radius: 10, 0, 0 0;
    -fx-text-fill: white;
}

.tripsButton:hover{
    -fx-background-color: #AFE2EC;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-font-size: 125%;
}

.editProfileButton{
    -fx-background-color: #8d918d;
    -fx-text-fill: black;
    -fx-font-weight: 700;
}

.editProfileButton:hover{
    -fx-background-color: #6a6e6a;
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

.save-changes-button{
    -fx-background-color: #AFE2EC;
    -fx-text-fill: white;
    -fx-font-weight: 700;
}

.save-changes-button:hover{
    -fx-background-color: #AFE2EC;
    -fx-text-fill: #97c297;
    -fx-font-weight: 700;
}

.continue-button{
    -fx-background-color: #AFE2EC;
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-size: 17px;
}

.continue-button:hover{
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #AFE2EC;
    -fx-font-weight: 700;
    -fx-font-size: 20px;
}

.acceptRequest{
    -fx-background-color: #30803c;
}

.acceptRequest:hover{
    -fx-background-color: #3fa64e;
}

.denyRequest{
    -fx-background-color: #992222;
}

.denyRequest:hover{
    -fx-background-color: #bf2828;
}